<head>
  <title>Lista de Chamados</title>
  <script defer src="/js/foto_perfil.js"></script>
</head>
<header
  class="shadow fixed-top"
  style="
        background: rgb(45, 111, 131);
        background: linear-gradient(
          90deg,
          rgba(45, 111, 131, 1) 17%,
          rgba(28, 46, 76, 1) 100%
        );
      "
>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-2 col-sm-1 col-lg-1">
        <a href="/admin" class="text-decoration-none text-white">
          <img
            class="img-fluid float-start"
            src="/img/logo_tcc.png"
            alt="logo aqui"
            width="90px"
            height="90px"
            title="logo"
          />
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-lg-4">
        <a href="/admin" class="text-white text-decoration-none d-inline-block">
          <h1 class="text-start fs-2" title="academy help desk">Academy Help
            Desk</h1>
        </a>
      </div>
       <div class="col-md-5 col-sm-5 col-lg-7 text-end">
        <a
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
          style="cursor: pointer; display:inline-block"
        ><div id="img-hover" title="lista de navagação"></div></a>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-end shadow"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Olá,
        {{usuario}}
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div class="row mb-4">
        <form
          action="/admin/chamado/foto"
          method="post"
          enctype="multipart/form-data"
          id="form_perfil"
        >
          {{#if foto}}
            <img
              src="/upload/admin/{{foto}}"
              class="rounded-circle mx-auto d-block"
              id="foto_perfil"
              height="100px"
              width="100px"
              style="cursor: pointer;"
            />
            <div class="text-center mt-3">
              <a
                href="/admin/chamado/foto/exclusao/{{matricula}}"
                class="btn btn-outline-danger"
              >Excluir</a>
            </div>
          {{else}}
            <img
              src="\img\do-utilizador.png"
              class="rounded-circle mx-auto d-block"
              id="foto_perfil"
              height="100px"
              width="100px"
              style="cursor: pointer;"
            />
          {{/if}}
          <input
            class="form-control"
            type="file"
            name="admin_foto"
            accept="image/*"
            maxlength="150"
            id="input_perfil"
            hidden
          />
        </form>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a href="/admin" class="btn btn-outline-dark" type="button">Inicio</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/funcionario"
            class="btn btn-outline-dark"
            type="button"
          >Lista de funcionários</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/chamado"
            class="btn btn-outline-dark"
            type="button"
          >Lista de chamados</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a href="/admin/relatorio" class="btn btn-outline-dark" type="button">Lista de
            relatórios</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/professor"
            class="btn btn-outline-dark"
            type="button"
          >Lista de professores</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/aluno"
            class="btn btn-outline-dark"
            type="button"
          >Lista de alunos</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/cadastrar-professor"
            class="btn btn-outline-dark"
            type="button"
          >Cadastro de professores</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/cadastrar-aluno"
            class="btn btn-outline-dark"
            type="button"
          >Cadastro de alunos</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/admin/cadastrar-funcionario"
            class="btn btn-outline-dark"
            type="button"
          >Cadastro de funcionários</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a 
          href="/admin/chat" 
          class="btn btn-outline-dark" 
          type="button">
          Chat
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="d-grid gap-2">
          <a href="/admin/logout" class="btn btn-outline-danger" type="button">Sair</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</header>
<main style="margin-top: 150px;">
  {{> _msg}}
  {{#if error_mensagem}}
  <div class="container mt-5">
    <div class="row justify-content-center text-center">
      <div class="alert alert-danger w-50">{{error_mensagem}}</div>
    </div>
  </div>
{{/if}}
{{#if aviso_mensagem}}
  <div class="container mt-5">
    <div class="row justify-content-center text-center">
      <div class="alert alert-warning w-50">{{aviso_mensagem}}</div>
    </div>
  </div>
{{/if}}
  {{#each chamado}}
  <div class="container w-50 mt-5 mb-5">
  <div class="card shadow">
  <div class="card-header h-0">
    <div class="row">
      <div class="col-sm-12 col-md-1 col-lg-1">
        {{#if this.i1}}
        <div class="rounded-circle bg-success mt-1 status-chamado" style="width: 20px; height: 20px;"></div>
        {{/if}}
        {{#if this.i2}}
        <div class="rounded-circle bg-warning mt-1 status-chamado" style="width: 20px; height: 20px;"></div>
        {{/if}}
        {{#if this.i3}}
        <div class="rounded-circle bg-danger mt-1 status-chamado" style="width: 20px; height: 20px;"></div>
        {{/if}}
      </div>
      <div class="col-sm-12 col-md-11 col-lg-11 p-0">
        <p class="mb-0 me-2 fs-6">{{this.statusd}}</p>
      </div>
    </div>
  </div>
  {{#if this.nome_aluno}}
  <div class="card-body">
    <a class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapseExample{{this.id}}" role="button" aria-expanded="false" aria-controls="collapseExample"><h5 class="card-title">{{this.titulo}}</h5></a>
    <div class="collapse" id="collapseExample{{this.id}}">
    <p class="card-text">{{this.assunto}}</p>
    <p class="card-text mb-0">Nível: {{this.nivel}}</p>
    <p class="card-text mb-3">Prioridade: {{this.prioridade}}</p>
    <p class="card-text fw-bold">ENTRE EM CONTATO</p>
    <p class="card-text mb-0">Usuário do cliente: {{this.nome_aluno}}</p>
    <p class="card-text mb-0">Email do cliente: {{this.email_aluno}}</p>
    {{#if residencial_aluno}}
    <p class="card-text mb-0">Telefone celular do cliente: {{this.celular_aluno}}</p>
    <p class="card-text">Telefone residencial do cliente: {{this.residencial_aluno}}</p>
    {{else}}
    <p class="card-text">Telefone celular do cliente: {{this.celular_aluno}}</p>
    {{/if}}
    {{#if this.img1}}
    <p class="card-text mb-0">Imagens:</p>
    <div class="row">
    <img class="btn img-fluid rounded float-start h-25 w-25" data-bs-toggle="modal" data-bs-target="#imagem1_aluno{{this.id}}" src="/upload/chamado_aluno/{{this.img1}}" alt="algo deu errado">
    {{#if this.img2}}
    <img class="btn img-fluid rounded float-start h-25 w-25" data-bs-toggle="modal" data-bs-target="#imagem2_aluno{{this.id}}" src="/upload/chamado_aluno/{{this.img2}}" alt="algo deu errado">
    {{/if}}
    {{#if this.img3}}
    <img class="btn img-fluid rounded float-start h-25 w-25" data-bs-toggle="modal" data-bs-target="#imagem3_aluno{{this.id}}" src="/upload/chamado_aluno/{{this.img3}}" alt="algo deu errado">
    {{/if}}
    </div>
    {{/if}}
    <label for="descricao" class="form-label">Descrição:</label>
    <textarea class="form-control mb-3" id="descricao" rows="10" disabled readonly>{{this.descricao}}</textarea>
    <a href="/admin/chamado/alteracao/{{this.id}}" class="btn btn-warning">Alterar</a>
    <a data-bs-toggle="modal" data-bs-target="#deletar_aluno{{this.id}}" class="btn btn-danger">Deletar</a>
    </div>
  </div>
  {{else}}
  <div class="card-body">
    <a class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapse{{this.id}}" role="button" aria-expanded="false" aria-controls="collapse"><h5 class="card-title">{{this.titulo}}</h5></a>
    <div class="collapse" id="collapse{{this.id}}">
    <p class="card-text">{{this.assunto}}</p>
    <p class="card-text mb-0">Nível: {{this.nivel}}</p>
    <p class="card-text mb-3">Prioridade: {{this.prioridade}}</p>
    <p class="card-text fw-bold">ENTRE EM CONTATO</p>
    <p class="card-text mb-0">Usuário do cliente: {{this.nome_professor}}</p>
    <p class="card-text mb-0">Email do cliente: {{this.email_professor}}</p>
    {{#if residencial_professor}}
    <p class="card-text mb-0">Telefone celular do cliente: {{this.celular_professor}}</p>
    <p class="card-text">Telefone residencial do cliente: {{this.residencial_professor}}</p>
    {{else}}
    <p class="card-text">Telefone celular do cliente: {{this.celular_professor}}</p>
    {{/if}}
    {{#if this.img1}}
    <p class="card-text mb-0">Imagens:</p>
    <div class="row">
    <img class="btn img-fluid rounded float-start h-25 w-25" data-bs-toggle="modal" data-bs-target="#imagem1_professor{{this.id}}" src="/upload/chamado_professor/{{this.img1}}" alt="algo deu errado">
    {{#if this.img2}}
    <img class="btn img-fluid rounded float-start h-25 w-25" data-bs-toggle="modal" data-bs-target="#imagem2_professor{{this.id}}" src="/upload/chamado_professor/{{this.img2}}" alt="algo deu errado">
    {{/if}}
    {{#if this.img3}}
    <img class="btn img-fluid rounded float-start h-25 w-25" data-bs-toggle="modal" data-bs-target="#imagem3_professor{{this.id}}" src="/upload/chamado_professor/{{this.img3}}" alt="algo deu errado">
    {{/if}}
    </div>
    {{/if}}
    <label for="descricao" class="form-label">Descrição:</label>
    <textarea class="form-control mb-3" id="descricao" rows="10" disabled readonly>{{this.descricao}}</textarea>
    <a href="/admin/chamado/alteracao/{{this.id}}" class="btn btn-warning">Alterar</a>
    <a data-bs-toggle="modal" data-bs-target="#deletar_professor{{this.id}}" class="btn btn-danger">Deletar</a>
    </div>
  </div>
  {{/if}}
</div>
</div>
<!-- Modal_Professor -->
<div class="modal fade" id="imagem1_professor{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
        <img src="/upload/chamado_professor/{{this.img1}}" alt="error" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal_Professor -->
<div class="modal fade" id="imagem2_professor{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
        <img src="/upload/chamado_professor/{{this.img2}}" alt="error"  width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal_Professor -->
<div class="modal fade" id="imagem3_professor{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
        <img src="/upload/chamado_professor/{{this.img3}}" alt="error" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal_Aluno -->
<div class="modal fade" id="imagem1_aluno{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
        <img src="/upload/chamado_aluno/{{this.img1}}" alt="error" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal_Aluno -->
<div class="modal fade" id="imagem2_aluno{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
        <img src="/upload/chamado_aluno/{{this.img2}}" alt="error" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal_Aluno -->
<div class="modal fade" id="imagem3_aluno{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
        <img src="/upload/chamado_aluno/{{this.img3}}" alt="error" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal_deletar_professor-->
<div class="modal fade" id="deletar_professor{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="margin-left: 200px;" id="exampleModalLabel">AVISO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p class="align-middle d-inline">Certeza que deseja excluir um chamado do professor?</p>
        </div>
        <div class="modal-footer">
          <div style="margin-right: 100px;">
          <button type="button" id="botao_fechar" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <a href="/admin/chamado/exclusao/{{this.id}}"><button type="button" class="btn btn-danger">Deletar mesmo assim</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- modal_deletar_aluno -->
<div class="modal fade" id="deletar_aluno{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="margin-left: 200px;" id="exampleModalLabel">AVISO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>Certeza que deseja excluir um chamado do aluno?</p>
        </div>
        <div class="modal-footer">
          <div style="margin-right: 100px;">
          <button type="button" id="botao_fechar" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <a href="/admin/chamado/exclusao/{{this.id}}"><button type="button" class="btn btn-danger">Deletar mesmo assim</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</main>
{{> _footer}}