<head>
  <title>Alteração do aluno</title>
  <script defer src="/js/cadastro_validacao.js"></script>
  <script defer src="/js/modal_edicao_admin.js"></script>
    <script defer src="/js/mascara_input.js"></script>
    <script defer src="/js/foto_perfil.js"></script>
</head>
<header
  class="shadow fixed-top"
  style="
        background: rgb(45, 111, 131);
        background: linear-gradient(
          90deg,
          rgba(45, 111, 131, 1) 17%,
          rgba(28, 46, 76, 1) 100%
        );
      "
>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-2 col-sm-1 col-lg-1">
        <a href="/funcionario" class="text-decoration-none text-white">
          <img
            class="img-fluid float-start"
            src="/img/logo_tcc.png"
            alt="logo aqui"
            width="90px"
            height="90px"
            title="logo"
          />
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-lg-4">
        <a
          href="/funcionario"
          class="text-white text-decoration-none d-inline-block"
        >
          <h1 class="text-start fs-2" title="academy help desk">Academy Help
            Desk</h1>
        </a>
      </div>
      <div class="col-md-5 col-sm-5 col-lg-7 text-end">
        <a
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
          style="cursor: pointer; display:inline-block"
        ><div id="img-hover" title="lista de navagação"></div></a>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-end shadow"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Olá,
        {{usuario}}
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div class="row mb-4">
        <form
          action="/funcionario/aluno/alteracao/foto"
          method="post"
          enctype="multipart/form-data"
          id="form_perfil"
        >
          {{#if foto}}
            <img
              src="/upload/funcionario/{{foto}}"
              class="rounded-circle mx-auto d-block"
              id="foto_perfil"
              height="100px"
              width="100px"
              style="cursor: pointer;"
            />
            <div class="text-center mt-3">
              <a
                href="/funcionario/aluno/alteracao/exclusao/{{matricula}}"
                class="btn btn-outline-danger"
              >Excluir</a>
            </div>
          {{else}}
            <img
              src="\img\do-utilizador.png"
              class="rounded-circle mx-auto d-block"
              id="foto_perfil"
              height="100px"
              width="100px"
              style="cursor: pointer;"
            />
          {{/if}}
          <input
            class="form-control"
            type="file"
            name="funcionario_foto"
            accept="image/*"
            maxlength="150"
            id="input_perfil"
            hidden
          />
        </form>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario"
            class="btn btn-outline-dark"
            type="button"
          >Inicio</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario/chamado"
            class="btn btn-outline-dark"
            type="button"
          >Lista de chamados</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario/professor"
            class="btn btn-outline-dark"
            type="button"
          >Lista de professores</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario/aluno"
            class="btn btn-outline-dark"
            type="button"
          >Lista de alunos</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario/relatorio"
            class="btn btn-outline-dark"
            type="button"
          >Seus relatórios</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario/cadastrar-professor"
            class="btn btn-outline-dark"
            type="button"
          >Cadastro de professores</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a
            href="/funcionario/cadastrar-aluno"
            class="btn btn-outline-dark"
            type="button"
          >Cadastro de alunos</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a href="/funcionario/cadastrar-relatorio" class="btn btn-outline-dark" type="button">Cadastro de
            relatórios</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-grid gap-2">
          <a 
          href="/funcionario/chat" 
          class="btn btn-outline-dark" 
          type="button">
          Chat
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="d-grid gap-2">
          <a href="/funcionario/logout" class="btn btn-outline-danger" type="button">Sair</a>
        </div>
      </div>
    </div>
  </div>
</header>
<main style="margin-top: 150px;">
  {{> _msg}}
  {{#if error}}
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="alert alert-danger w-50">{{error}}</div>
      </div>
    </div>
  {{/if}}
  <div class="container w-50" style="margin-top: 50px">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="card border border-secondary shadow">
          <div class="card-body">
            <div class="text-center">
              <img src="/img/logo_tcc.png" width="160px" height="160px" alt="logo aqui" class="img-fluid mb-4 mt-4" />
            </div>
            <h2 class="text-center text-dark mb-4">Alteração do Aluno</h2>
            <form
              action="/funcionario/aluno/alteracao"
              method="POST"
              class="needs-validation"
              id="form"
              novalidate
            >
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput"
                    style="font-weight: bold"
                  >Digite sua matricula</label>

                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput"
                      placeholder="user"
                      name="matricula"
                      maxlength="150"
                      value="{{aluno.matricula}}"
                      required
                    />
                    <label for="floatingInput">Digite sua matricula</label>
                    <div class="valid-feedback">Validado!</div>
                    <div class="invalid-feedback">
                      Por favor, digite sua matricula
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput#"
                    style="font-weight: bold"
                  >Digite seu usuário</label>

                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput#"
                      placeholder="user"
                      name="usuario"
                      maxlength="90"
                      value="{{aluno.usuario}}"
                      required
                    />
                    <label for="floatingInput#">Digite seu usuário</label>
                    <div class="valid-feedback">Validado!</div>
                    <div class="invalid-feedback">
                      Por favor, digite seu usuário
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput"
                    style="font-weight: bold"
                  >Digite seu email</label>

                  <div class="form-floating mb-4">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="email"
                      name="email"
                      maxlength="100"
                      value="{{aluno.email}}"
                      required
                    />
                    <label for="floatingInput1">Digite seu email</label>
                    <div class="valid-feedback">Validado!</div>
                    <div class="invalid-feedback">
                      Por favor, digite seu email
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput1"
                    style="font-weight: bold"
                  >Digite seu telefone celular</label>

                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput1"
                      placeholder="user"
                      name="celular"
                      value="{{aluno.telefone_celular}}"
                      maxlength="15"
                      required
                    />
                    <label for="floatingInput1">Digite seu telefone celular</label>
                    <div class="valid-feedback">Validado!</div>
                    <div class="invalid-feedback">
                      Por favor, digite seu telefone celular
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput2"
                    style="font-weight: bold"
                  >Digite seu telefone residencial</label>

                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput2"
                      placeholder="user"
                      name="residencial"
                      value="{{aluno.telefone_residencial}}"
                      maxlength="14"
                    />
                    <label for="floatingInput2">Opcional</label>
                    <div class="valid-feedback">Campo opcional</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput"
                    style="font-weight: bold"
                  >Digite sua senha</label>
                  <div class="form-floating mb-4">
                    <input
                      type="password"
                      class="form-control"
                      id="floatingPassword2"
                      placeholder="Password"
                      name="senha"
                      maxlength="40"
                    />
                    <label for="floatingPassword2">Digite sua senha</label>
                    <div class="valid-feedback">Validado!</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label
                    class="form-label"
                    for="floatingInput"
                    style="font-weight: bold"
                  >Repita sua senha</label>
                  <div class="form-floating mb-4">
                    <input
                      type="password"
                      class="form-control"
                      id="floatingPassword3"
                      placeholder="Password"
                      name="senha2"
                      maxlength="40"
                    />
                    <label for="floatingPassword3">Repita sua senha</label>
                    <div class="valid-feedback">Validado!</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <button class="btn btn-outline-warning botao" id="botao_alterar" type="submit">
                    Alterar
                  </button>
                  <a href="/funcionario/aluno"><button
                      type="button"
                      class="btn btn-outline-primary botao"
                    >
                      Voltar
                    </button></a>
                </div>
              </div>
              <!--Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="margin-left: 200px;" id="exampleModalLabel">AVISO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-center">
                    <p>Infelizmente, se você alterar a matrícula do aluno</p>
                    <p>se o aluno tiver cadastrado um chamado</p>
                    <p>ele excluirá o chamado do aluno no sistema.</p>
                  </div>
                  <div class="modal-footer">
                    <div style="margin-right: 100px;">
                    <button type="button" id="botao_fechar" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-warning">Alterar mesmo assim</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> _footer}}